<!-- code that are repeated multiple times in the webpage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepperoni Express</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link rel="stylesheet" href="/css/app.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
   <nav class="container mx-auto flex items-center justify-between py-4">
        <div class="w-full flex justify-start p-4">
            <a href="/">
                <img src="/img/myLogo.png" alt="logo" class="w-32 md:w-48 lg:w-64 object-contain">
            </a>
        </div>

        <div>
            <ul class="flex items-center">
                <li class="ml-6 text-sm"><a href="/">Menu</a></li>                
                <% if(user) { %>
                    <li class="ml-6 text-sm">
                        <% if(user.role === 'admin') { %>
                            <a href="/admin/orders">Orders</a>
                        <% } else { %>
                            <a href="/customers/orders">Orders</a>
                        <% } %>
                    </li>
                    
                    <li class="ml-6 text-sm">
                        <form id="logout" action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                        </form>
                    </li>
                <% } else { %>
                    <li class="ml-6 text-sm"><a href="/register">Register</a></li>
                    <li class="ml-6 text-sm"><a href="/login">Login</a></li>
                <% } %>
    
                <!-- Cart element -->
                <li class="ml-6">
                    <a href="/cart" class="inline-block flex items-center px-4 py-2 rounded-full" style="background-color: #973131; color: white;">
                        <span id="cartCounter" class="font-bold pr-2"><%= session.cart ? session.cart.totalQty : '' %></span>
                        <img src="/img/cart.png" alt="cart" class="w-6 h-6"> 
                    </a>
                </li>
    
                <!-- User profile display -->
                <% if(user) { %>
                    <li class="ml-6 flex flex-col items-center ">
                        <i class="fas fa-user-circle text-sm mb-1" style="color: #973131;"></i> 
                        <% if(user.role === 'admin') { %>
                            <span class="font-bold text-sm">Admin</span>
                        <% } else { %>
                            <span class="font-bold text-sm"><%= user.name %></span>
                        <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav> 
    
    <%- body %>
        <footer class="bg-black text-white py-4">
        <div class="footerContainer container mx-auto px-4 md:px-8">
            <!-- Social Icons -->
            <div class="socialIcons flex justify-center mb-4">
                <a href="https://www.linkedin.com/in/lincy-thomas-518660252?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="mx-2">
                    <i class="fa-brands fa-linkedin text-xl" title="LinkedIn"></i>
                </a>
                <a href="https://www.instagram.com/" class="mx-2">
                    <i class="fa-brands fa-instagram text-xl" title="Instagram"></i>
                </a>
                <a href="https://twitter.com/" class="mx-2">
                    <i class="fa-brands fa-twitter text-xl" title="Twitter"></i>
                </a>
                <a href="https://www.facebook.com/" class="mx-2">
                    <i class="fa-brands fa-facebook text-xl" title="Facebook"></i>
                </a>
                <a href="https://www.youtube.com/" class="mx-2">
                    <i class="fa-brands fa-youtube text-xl" title="YouTube"></i>
                </a>
            </div>
    
            <!-- Footer Navigation -->
            <div class="footerNav mb-4">
                <ul class="flex flex-wrap justify-center space-x-4">
                    <li><a href="#" class="hover:underline" title="On the same page">Home</a></li>
                    <li><a href="https://www.bbc.com/" class="hover:underline" title="BBC News">News</a></li>
                    <li><a href="https://www.linkedin.com/in/lincy-thomas-518660252?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="hover:underline" title="About">About</a></li>
                    <li><a href="https://www.linkedin.com/in/lincy-thomas-518660252?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="hover:underline" title="Contact Us">Contact Us</a></li>
                    <li><a href="https://www.linkedin.com/in/lincy-thomas-518660252?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="hover:underline" title="Our Team">Our Team</a></li>
                </ul>
            </div>
        </div>
    
        <!-- Footer Bottom -->
        <div class="footerBottom bg-black text-center py-2">
            <p class="text-sm">Copyright &nbsp;<i class="fa-regular fa-copyright"></i>&nbsp; 2024; Designed by Lincy</p>
        </div>
    </footer>
    
    
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/app.js"></script>
</body>
</html>
